<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
    <link rel="stylesheet" th:href="@{/css/cssstyles.css}" href="/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body >

<div th:replace="fragments/navbar :: navbarthree"></div>


<div class="overviewcontainer">
    <div class="boxone">
        <h3>Epics</h3>
        <p class="description-text">An epic refers to a large and high-level user story or requirement that captures a significant functionality or business objective.</p>
        <a th:href="@{'/epics/' }" class="btn">Go to</a>
    </div>
    <div class="boxtwo">
        <h3>Requirements</h3>
        <p class="description-text">Requirements refer to the documented and agreed-upon descriptions of what a system should do or the qualities it should possess. They serve as the foundation for designing, developing, and testing a system to ensure that it meets the desired objectives and satisfies stakeholder needs.</p>
        <a th:href="@{'/requirements/'}" class="btn">Go to</a>
    </div>
</div>
<div class="overviewcontainer">
    <div class="boxthree">
        <h3>Backlog</h3>
        <p class="description-text">A backlog refers to a prioritized list of all the features, user stories, bug fixes, and other work items that need to be addressed in a product or project. The backlog serves as a single source of truth for the Scrum team, providing visibility into upcoming work and guiding the development process.</p>
        <a th:href="@{'/backlog/' }" class="btn">Go to</a>
    </div>
    <div class="boxfour">
        <h3>Sprints</h3>
        <p class="description-text">A sprint refers to a fixed timebox or iteration during which a specific amount of work is completed. It is a time-bound period, typically lasting between one to four weeks, during which the Scrum team focuses on delivering a potentially shippable increment of the product.</p>
        <a th:href="@{'/sprints'}" class="btn">Go to</a>
    </div>
</div>


</body>
</html>