<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar :: head('Create task')">
</head>
<body >

<div th:replace="fragments/navbar :: navbarthree"></div>

<div th:replace="fragments/navbar :: secondnavbar"></div>
<div id="backlog-background2">
    <div class="generalcontainer">
        <div class="overlaytitle">
            <h1>Create task</h1>
        </div>
        <div class="table-container">
            <div class="columnitems">
                <div>

                    <form action="/task/save" method="post">
                        <input name="subProjectId" type="hidden"  th:value="${subProjectModel.id}" ></input>
                        <p>Write Task Name</p>
                        <input id="task-name-field" name="taskName" type="text" placeholder="TEC001" required>
                        <p>Write Task Description</p>
                        <input id="task-description-field" name="taskDescription" type="text" placeholder="Create HTML Frontpage" required></input>
                        <p>Planned start date</p>
                        <input id="plannedStartDate" type="date" name="plannedStartDate" value="2024-01-01" required>
                        <p>Planned finish date</p>
                        <input id="plannedFinishDate" type="date" name="plannedFinishDate" value="2024-01-01" required>
                        <p>Assigned</p>
                        <select name="assigned">
                            <option th:each="account : ${accounts}"  th:value="${account.id}" th:text="${account.email}"></option>
                        </select>

                        <br/>
                        <br/>
                        <input class="table-link" type="submit" value="Add Task"></input>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>