<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar :: head('Edit task')">
</head>
<body >

<div th:replace="fragments/navbar :: navbarthree"></div>

<div th:replace="fragments/navbar :: secondnavbar"></div>
<div id="backlog-background2">
    <div class="generalcontainer">
        <div class="overlaytitle">
            <h1>Create task</h1>
        </div>
        <div class="table-container">
            <div class="columnitems">
                <div>

                    <form action="/task/update" method="post" th:object="${task}">
                        <input type="hidden"  th:field="*{id}" ></input>
                        <input type="hidden"  th:field="*{subProjectId}" ></input>
                        <p>Write Task Name</p>
                        <input id="task-name-field" th:field="*{taskName}" type="text" placeholder="TEC001" required></input>
                        <p>Write Task Description</p>
                        <input id="task-description-field" th:field="*{taskDescription}" type="text" placeholder="Create HTML Frontpage" required></input>
                        <p>Planned start date</p>
                        <input id="plannedStartDate" type="date" th:field="*{plannedStartDate}"  required></input>
                        <p>Planned finish date</p>
                        <input id="plannedFinishDate" type="date" th:field="*{plannedFinishDate}"   required></input>
                        <p>Duration</p>
                        <input id="duration" type="number" th:field="*{duration}"   required></input>
                        <p>Actual Hours</p>
                        <input id="actualHours" type="number" th:field="*{actualHours}"   required></input>
                        <p>Actual Resource Cost</p>
                        <input id="actualResourceCost" type="number" th:field="*{actualResourceCost}"   required></input>
                        <p>Assigned</p>
                        <select name="assigned" >
                            <option th:each="account : ${accounts}"  th:value="${account.id}" th:selected="${account.id == task.assigned}" th:text="${account.email}"></option>
                        </select>

                        <br/>
                        <br/>
                        <input class="table-link" type="submit" value="Update Task"></input>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>