<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar :: head('Task List')">
</head>
<body >


<div th:replace="fragments/navbar :: navbarthree"></div>

<div th:replace="fragments/navbar :: secondnavbar"></div>

<div class="sprint-create">
    <div><h1 style="color: red" th:text="${message}"></h1></div>
    <div><h1>Task List</h1></div>
    <
</div>

<div class="sprint-headline" >


    <table>
        <thead>
        <tr>
            <th>Task Name</th>
            <th>Planned Finish</th>
            <th>Planned Start</th>
            <th>Duration</th>
            <th>actualHours</th>
            <th>actualResourceCost</th>
            <th>Assigned</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}" >
            <td th:text="${task.taskName}"></td>
            <td th:text="${task.plannedFinishDate}"></td>
            <td th:text="${task.plannedStartDate}"></td>
            <td th:text="${task.duration}"></td>
            <td th:text="${task.actualHours}"></td>
            <td th:text="${task.actualResourceCost}"></td>
            <td th:text="${task.assignedName}"></td>

            <td><a th:href="@{'/task/edit/' + ${task.id}}"> Edit</a> </td>
        </tr>
        </tbody>
    </table>

</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>