<div th:fragment="navbar">
    <nav class="navbar-one">
        <label class="logo">Project Manager</label>
        <ul class="nav-ul">
            <li><a class="nav-link" th:href="@{'/account/create'}" href="signup.html">Create user</a></li>
            <li><a class="nav-link" th:href="@{'/login'}" href="login.html">Login</a></li>
        </ul>
    </nav>
</div>
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title>[[${title}]]</title>
    <link rel="stylesheet" th:href="@{/css/cssstyles.css}" href="../static/css/cssstyles.css">
    <!--    <link rel="stylesheet" type="text/css"-->
    <!--          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <style>
        h2 {
            font-weight: bold;
            font-size: large;
        }

        body {
            font-family: "Open Sans", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            line-height: 1.5;
            font-variation-settings:
                    "wdth" 100;
        }
    </style>
</head>

<div th:fragment="navbarthree">
    <nav class="navbar-one">
        <label class="logo">Project Manager</label>
        <ul class="nav-ul">
            <li th:if="${session.current_user}" class="nav-li"><a class="nav-link"  href="/logout" >Logout</a></li>
            <li th:if="${session.current_user}" class="nav-li"><span   th:text="${session.current_user.firstName }" ></span></li>
            <li><a th:if="!${session.current_user}" class="nav-link" th:href="@{'/login'}" href="/login">Login</a></li>
        </ul>
    </nav>
</div>

<div th:fragment="secondnavbar">
    <div class="flex-container">
        <div><a class="navtwo-link"  href="/workspace" >Overview</a></div>
        <div><a class="navtwo-link"  href="/task/list" >TaskList</a></div>
        <div th:if="${session.current_user.permissionLevel.name == 'ADMINISTRATOR'}">
            <a class="navtwo-link"   href="/account/list">List Account</a>
        </div>
    </div>
</div>