<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar :: head('Create project')">
</head>
<body >

<div th:replace="fragments/navbar :: navbarthree"></div>

<div th:replace="fragments/navbar :: secondnavbar"></div>
<div id="backlog-background2">
    <div class="generalcontainer">
        <div class="overlaytitle">
            <h1>User has no permission for this page access.</h1>
        </div>

    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>