<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar :: head('Create account')">
</head>
<body >
<div th:replace="fragments/navbar :: navbarthree"></div>
<div th:replace="fragments/navbar :: secondnavbar"></div>

<div class="sprint-headline" >

    <div class="signup-login-flex-item">

        <h1>Create Account</h1>
        <br>

        <form action="/account/save" method="post" th:object="${account}" style="width: 100%">

            <label for="first_name_field">First name</label>
            <p><input class="signup-input" id="first_name_field" th:field="*{firstName}" type="text" required></p>

            <label for="last_name_field">Last name</label>
            <p><input class="signup-input" id="last_name_field" th:field="*{lastName}" type="text"  required></p>

            <label for="email_field">Email</label>
            <p><input class="signup-input" id="email_field" th:field="*{email}" type="text"  required></p>

            <label for="password_field">Password</label>
            <p><input class="signup-input" id="password_field" th:field="*{password}" type="password"  required></p>
            <br/>
            <label style="margin-top: 5px" for="email_field">PERMISSION LEVEL</label>
            <br>
            <br/>
            <select class="signup-input" th:field="*{permissionLevel}" style="width: 100%; padding: 5px">
                <option value="EMPLOYEE">PROJECT_WORKER</option>
                <option value="ADMINISTRATOR"> ADMINISTRATOR</option>
            </select>
            <br/>
            <br/>
            <button class="signup-login-button" type="submit">Create Account</button>
            <!-- <p><input value="Opret Admin" type="submit"></p> -->
        </form>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>