<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WorkSpace</title>
    <link rel="stylesheet" th:href="@{/css/cssstyles.css}" href="/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body >
<div th:replace="fragments/navbar :: navbarthree"></div>

<div class="appfrontpage-main">
    <h1>Active Projects</h1>
    <div class="appfrontpage-project-matrix">
        <div class="appfrontpage-project" th:each="project : ${projects}" th:if="${project.projectStatus}">
            <h3 th:text="${project.projectManager}"></h3>
            <h2 th:text="${project.projectName}"></h2>
            <p th:text="${project.projectDescription}"></p>
            <p th:text="${project.targetDate}"></p>
            <div class="appfrontpage-project-deadline"><p th:text="${project.targetDate}"></p></div>

            <a class="appfrontpage-modify-project-button"  th:href="@{'/project/edit/' + ${project.id}}" href="/modifyproject"> Modify Project</a>
            <a class="appfrontpage-project-button" th:href="@{'/subproject/overview/' + ${project.id}}" href="/overview">Go to project</a>
            </th:block>
        </div>
        <div class="appfrontpage-create-project">
            <h2>Create New Project</h2>
            <p>Make a great project by your good ideas.</p>
            <a class="appfrontpage-project-button" th:href="@{'/project/create'}">Create Project</a>
        </div>
    </div>

    <h1>Inactive Projects</h1>
    <div class="appfrontpage-project-matrix">
        <div class="appfrontpage-project" th:each="project : ${projects}" th:unless="${project.projectStatus}">
            <h3 th:text="${project.projectManager}"></h3>
            <h2 th:text="${project.projectName}"></h2>
            <p th:text="${project.projectDescription}"></p>
            <p th:text="${project.targetDate}"></p>
            <div class="appfrontpage-project-deadline"><p th:text="${project.targetDate}"></p></div>

            <a class="appfrontpage-modify-project-button"  th:href="@{'/project/edit/' + ${project.id}}" href="modifyproject"> Modify Project</a>
            <a class="appfrontpage-project-button" th:href="@{'/subproject/overview/' + ${project.id}}" href="/overview">Go to project</a>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>