<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar :: head('Create subProject')">
</head>

<body >

<div th:replace="fragments/navbar :: navbarthree"></div>

<div th:replace="fragments/navbar :: secondnavbar"></div>

<div id="sprint-background">
    <div class="generalcontainer">
        <div class="overlaytitle">
            <h1>Create SubProject</h1>
        </div>

        <div class="table-container">
            <div class="templatecreateitem">
                <div>
                    <form action="/subproject/save" method="post">
                        <input  name="projectId" placeholder="SP00X" type="hidden" th:value="${currentproject.id}"></input>
                        <p>Write SubProject Name for <span style="font-weight: bold">[[${currentproject.projectName}]]</span></p>
                        <input name="projectName" placeholder="SubProject" type="text" required></input>
                        <input class="table-link" type="submit" value="Create SubProject"></input>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>