<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Subproject</title>
    <link rel="stylesheet" th:href="@{/css/cssstyles.css}" href="../static/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
<div th:replace="fragments/navbar :: navbarthree"></div>

<div id="subproject-background">
    <div class="generalcontainer">
        <div class="overlaytitle">
            <h1>Update Subproject</h1>
        </div>

        <div class="table-container">
            <div class="templatecreateitem">
                <div>
                    <form action="/subproject/update" method="post">

                        <p>Edit SubProject Name</p>
                        <input name="projectName" th:value="${project.projectName}" type="text" required></input>
                        <input name="projectId" th:value="${project.projectId}" type="hidden" required></input>
                        <input name="id" th:value="${project.id}" type="hidden" required></input>
                        <input class="table-link" type="submit" value="Update"></input>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>