<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar :: head('SubProject Overview')">
</head>
<body >


<div th:replace="fragments/navbar :: navbarthree"></div>

<div th:replace="fragments/navbar :: secondnavbar"></div>

<div class="sprint-create">
    <div><h1 style="color: red" th:text="${message}"></h1></div>
    <div><h1>All Sub project</h1></div>
    <div class="table-link"><a th:href="@{'/subproject/create/' + ${currentproject.id}}" href="/createsprint"><p
            class="sprint-button">Create new SubProject
        <p/></a></div>
</div>

<div class="sprint-headline" th:each="subproject : ${subProjectModelList}">
    <h1>
        <span th:text="${subproject.projectName}">SubProject name</span>
        <span> | </span>
        <a style="color: red" th:href="@{'/subproject/delete/' + ${subproject.id} + '/' + ${subproject.projectId}} ">Delete</a>
        <span> | </span>
        <a th:href="@{'/subproject/edit/' + ${subproject.id}}">Edit Name</a>
        <span> | </span>
        <a th:href="@{'/task/create/' + ${subproject.id}}">Create Task</a>

    </h1>

    <table  style="width: 100%">
        <thead>
        <tr>
            <th>Task Name</th>
            <th>Planned Finish</th>
            <th>Planned Start</th>
            <th>Duration</th>
            <th>actualHours</th>
            <th>actualResourceCost</th>
            <th>Assigned</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${subproject.taskModelList}">
            <td th:text="${task.taskName}"></td>
            <td th:text="${task.plannedFinishDate}"></td>
            <td th:text="${task.plannedStartDate}"></td>
            <td th:text="${task.duration}"></td>
            <td th:text="${task.actualHours}"></td>
            <td th:text="${task.actualResourceCost}"></td>
            <td th:text="${task.assignedName}"></td>

            <td><a th:href="@{'/task/edit/' + ${task.id}}"> Edit</a> |
                <a th:href="@{'/task/delete/' + ${task.id} + '/' + ${subproject.projectId}}"> Delete</a></td>
        </tr>
        </tbody>
    </table>
    <br>
    <table style="width: 100%">
        <thead>
        <tr>
            <th>Email</th>
            <th>Total Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="report : ${subproject.reportUserTimes}">
            <td th:text="${report.name}"></td>
            <td th:text="${report.totalTime} + ' hours'"></td>
        </tr>
        </tbody>
    </table>


</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>